<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bakalarka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Bakalarka.Properties.Settings>
            <setting name="InputTrainFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Diagnoses" serializeAs="String">
                <value />
            </setting>
            <setting name="UseStemmer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnorePunctuation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreStopWords" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TopWordsCount" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TopWordsFrequency" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BigramsCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BigramsFrequency" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TopWords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bigrams" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="StopWordsFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FeaturesFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadFeature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PMI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Morfologia" serializeAs="String">
                <value />
            </setting>
        </Bakalarka.Properties.Settings>
    </userSettings>
</configuration>
